<!-- Scripts
================================================== -->
<script type="text/javascript" src="{{cdn}}/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/mmenu.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/chosen.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/slick.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/rangeslider.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/magnific-popup.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/waypoints.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/counterup.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/tooltips.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/dropzone.js"></script> 
<!-- Turbo CDN. Better to use CDN than to store locally. -->
<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
<script type="text/javascript" src="{{cdn}}/js/custom.js"></script>