<!DOCTYPE html>
<head>

{{>head}}

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

{{>nav}}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>About</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="/">Home</a></li>
						<li>About</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container" style="margin-bottom: 50px">

	<div class="row">
		<div class="col-md-6">
			<h2>BizHost Template</h2>
			<p>This template is designed with a simple resource of "listings", which is generic and can be adapted to any startup's use case. All of the routes are already built out for consumer facing pages such as the landing page, listings and profiles. The user dashboard is already built out as well, with a private "my listings" route, as well as the ability to add listings. User sign up and login is already handled on the landing page.</p>
		</div>
		<div class="col-md-6">
			<div class="style-2">
					<!-- Tabs Navigation -->
					<ul class="tabs-nav">
						<li class="active"><a href="#tab1a"><i class="sl sl-icon-pin"></i> First Tab</a></li>
						<li><a href="#tab2a"><i class="sl sl-icon-badge"></i> Second Tab</a></li>
						<li><a href="#tab3a"><i class="sl sl-icon-bubbles"></i> Third Tab</a></li>
					</ul>

					<!-- Tabs Content -->
					<div class="tabs-container">
						<div class="tab-content" id="tab1a">
							Lorem ipsum pharetra lorem felis. Aliquam egestas consectetur elementum class aptentea taciti sociosqu ad litora torquent perea conubia nostra lorem consectetur adipiscing elit. Donec vestibulum justo a diam ultricies pellentesque.
						</div>

						<div class="tab-content" id="tab2a">Aenean dolor mi, luctus et laoreet hendrerit, condimentum faucibus mi. Nam et sem eros. Sed sed eros nec massa pellentesque accumsan in nec magna. Donec sollicitudin enim nec justo mollis bibendum. Nulla eleifend mollis velit. Ut sed risus eget metus egestas sagittis. Etiam vestibulum interdum turpis.</div>

						<div class="tab-content" id="tab3a">Suspendisse ut laoreet massa. Etiam vel dolor eu quam varius tempor eu eu mi. Duis auctor interdum ligula ut faucibus. Vivamus lorem ipsum dolor sit amet in tincidunt augue. Aenean at ligula justo, sed gravida metus. </div>
					</div>
				</div>
		</div>
	</div>

</div>
<!-- Container / End -->

{{>footer}}

</div>
<!-- Wrapper / End -->

{{>scripts}}


</body>
</html>