<!DOCTYPE html>
<head>
	{{>head}}
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

{{>admin_nav}}

<!-- Dashboard -->
<div id="dashboard">

	{{>admin_sidebar}}

	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>My Profile</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Dashboard</a></li>
							<li>My Profile</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="row">

			<!-- Profile -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">Profile Details</h4>
					<div class="dashboard-list-box-static">
						
						<!-- Avatar -->
						<div class="edit-profile-photo">
							{{#user.image}}
							<img src="{{ user.image }}" alt="" id="user-image">
							{{/user.image}}



							<div class="change-photo-btn">
								<div class="photoUpload">
								    <span><i class="fa fa-upload"></i> Upload Photo</span>
								    <input type="file" class="upload" id="btn-file-select" />
								</div>
							</div>
						</div>
	
						<!-- Details -->
						<form onsubmit="_updateUser(event)" id="profile-data">
							<div class="my-profile">

								<label>Your Name</label>
								<input value="{{ user.name }}" name="name" type="text">

								<label>Email</label>
								<input value="{{ user.email }}" name="email" type="text">

								<label>Description</label>
								<textarea name="description" id="notes" cols="30" rows="10" placeholder="Enter a short bio about yourself...">{{user.description}}</textarea>

								<label><i class="fa fa-twitter"></i> Twitter</label>
								<input value="{{user.twitter}}" name="twitter" placeholder="https://www.twitter.com/" type="text">

								<label><i class="fa fa-facebook-square"></i> Facebook</label>
								<input value="{{user.facebook}}" name="facebook" placeholder="https://www.facebook.com/" type="text">

							</div>
		
							<button class="button margin-top-15">Save Changes</button>
						</form>

					</div>
				</div>
			</div>

			<!-- Change Password -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">Change Password</h4>
					<div class="dashboard-list-box-static">

						<!-- Change Password -->
						<form method="post" action="/auth/update">
							<div class="my-profile">
								<label class="margin-top-0">Old Password</label>
								<input type="password" name="old-password">

								<label class="margin-top-0">New Password</label>
								<input type="password" name="password">

								<label class="margin-top-0">Confirm Password</label>
								<input type="password" name="password2">

								<button class="button margin-top-15">Change Password</button>
							</div>
						</form>

					</div>
				</div>
			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
			</div>

		</div>

	</div>
	<!-- Content / End -->


</div>
<!-- Dashboard / End -->


</div>
<!-- Wrapper / End -->

{{>scripts}}
<script type="text/javascript">
	$(function(){
		// This should be changed to your APP ID
		var turbo = Turbo({site_id: '5a3a9e6f474aba0014925c08'})

		$('#btn-file-select').click(function(event){
			event.preventDefault()

			turbo.uploadFile(function(err, data){
				if (err){
					alert('File Upload Error: ' + err.message)
					return
				}

				if (data.confirmation != 'success'){
					alert('Error: ' + data.message)
					return
				}

				var file = data.result
				$.post("/auth/update",
						{ image: file.url },
						function(data) {
							alert("Your photo was updated.")
						}
				);

				$('#user-image').attr('src', file.url)
			})
		})
	})

	function _updateUser (e) {
		// console.log($('#profile-data').serialize())
		e.preventDefault();
		$.post(	'/auth/update',
				$('#profile-data').serialize(),
				function (response) {
					console.log(response);
					alert('Your profile was updated.');
				})
	}
</script>

</body>
</html>