<!DOCTYPE html>
<head>
	{{>head}}
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

{{>nav}}

<!-- Banner
================================================== -->
<div class="main-search-container dark-overlay">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>{{ static.headline }}</h2>
					<h4>{{ static.tagline }}</h4>
					<form action="/listings">
						<div class="main-search-input">
							<div class="main-search-input-item">
								<input type="text" placeholder="What are you looking for?" value="" name="query">
							</div>

							<div class="main-search-input-item">
								<select data-placeholder="All Categories" class="chosen-select" name="category">
									<option value="all categories">All Categories</option>	
									<option value="shops">Shops</option>
									<option value="hotels">Hotels</option>
									<option value="restaurants">Restaurants</option>
									<option value="fitness">Fitness</option>
									<option value="events">Events</option>
								</select>
							</div>

							<button class="button">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	
	<!-- Video -->
	<div class="video-container">
		<video poster="{{ static.header_bg }}" loop autoplay muted>
			<!-- If you want a video banner, you can add the video here -->
			<!-- <source src="images/main-search-video.mp4" type="video/mp4"> -->
		</video>
	</div>

</div>



<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Browse Categories
			</h3>
		</div>

	</div>
</div>


<!-- Category Boxes -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">
				
				<!-- Box -->
				<a href="/listings" class="category-small-box">
					<i class="im im-icon-Hamburger"></i>
					<h4>Eat &amp; Drink</h4>
				</a>

				<!-- Box -->
				<a href="/listings" class="category-small-box">
					<i class="im  im-icon-Sleeping"></i>
					<h4>Hotels</h4>
				</a>

				<!-- Box -->
				<a href="/listings" class="category-small-box">
					<i class="im im-icon-Shopping-Bag"></i>
					<h4>Shops</h4>
				</a>

				<!-- Box -->
				<a href="/listings" class="category-small-box">
					<i class="im im-icon-Cocktail"></i>
					<h4>Nightlife</h4>
				</a>

				<!-- Box -->
				<a href="/listings" class="category-small-box">
					<i class="im im-icon-Electric-Guitar"></i>
					<h4>Events</h4>
				</a>

				<!-- Box -->
				<a href="/listings" class="category-small-box">
					<i class="im im-icon-Dumbbell"></i>
					<h4>Fitness</h4>
				</a>

			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Most Visited Businesses
					<span>Discover top-rated local businesses</span>
				</h3>
			</div>
		</div>
	</div>

	<!-- Carousel / Start -->
	<div class="simple-fw-slick-carousel dots-nav">

		<!-- Listing Item -->
		{{#listings}}
		<div class="fw-carousel-item">
			<a href="/listing/{{slug}}" class="listing-item-container compact">
				<div class="listing-item">
					
					<img src="{{#images.length}}{{images.0}}{{/images.length}}{{^images.length}}{{cdn}}/images/listing-item-01.jpg{{/images.length}}" alt="">

					<!-- You can use these ribbons to show some information about the listing. -->
					<!-- <div class="listing-badge now-open">Now Open</div> -->

					<div class="listing-item-content">
						<div class="numerical-rating" data-rating="3.5"></div>
						<h3>{{name}}</h3>
						<span>{{ address }}, {{ city }}</span>
					</div>
					<span class="like-icon"></span>
				</div>
			</a>
		</div>
		{{/listings}}
		<!-- Listing Item / End -->

	</div>
	<!-- Carousel / End -->


</section>
<!-- Fullwidth Section / End -->


<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-70">Featured Hosts <span>These hosts create the most popular listings.</span></h3>
		</div>
		
		{{#featured_hosts}}
		<div class="col-md-4">

			<!-- Image Box -->
			<a href="/profile/{{username}}" class="img-box" data-background-image="{{image}}">
				<div class="img-box-content visible">
					<h4 style="text-transform: capitalize;">{{name}}</h4>
					<span>14 Listings</span>
				</div>
			</a>

		</div>	
		{{/featured_hosts}}

	</div>
</div>
<!-- Container / End -->


<!-- Flip banner -->
<a href="/listings" class="flip-banner parallax margin-top-65" data-background="/images/slider-bg-02.jpg" data-color="#f91942" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
	<div class="flip-banner-content">
		<h2 class="flip-visible">{{ static.cta }}</h2>
		<h2 class="flip-hidden">Browse Listings <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->


{{>footer}}


</div>
<!-- Wrapper / End -->

{{>scripts}}

</body>
</html>