<!DOCTYPE html>
<head>
	{{>head}}
</head>

<body>

{{>nav}}

<!-- Content
================================================== -->
<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<!-- Search -->
			<section class="search">

				<div class="row">
					<div class="col-md-12">

							<!-- Row With Forms -->
							<div class="row with-forms">

								<!-- Main Search Input -->
								<div class="col-fs-6">
									<div class="input-with-icon">
										<i class="sl sl-icon-magnifier"></i>
										<input type="text" placeholder="What are you looking for?" value="" id="search">
									</div>
								</div>

								<!-- Filters -->
								<div class="col-fs-12">

									<!-- Panel Dropdown / End -->
									<div class="panel-dropdown">
										<a href="#">Categories</a>
										<div class="panel-dropdown-content checkboxes categories">
											
											<!-- Checkboxes -->
											<div class="row">
												<div class="col-md-6">
													<input id="check-1" type="checkbox" name="check" checked class="all">
													<label for="check-1">All Categories</label>

													<input id="check-2" type="checkbox" name="check">
													<label for="check-2">Shops</label>

													<input id="check-3" type="checkbox" name="check">
													<label for="check-3">Hotels</label>
												</div>	

												<div class="col-md-6">
													<input id="check-4" type="checkbox" name="check" >
													<label for="check-4">Eat & Drink</label>

													<input id="check-5" type="checkbox" name="check">
													<label for="check-5">Fitness</label>	

													<input id="check-6" type="checkbox" name="check">
													<label for="check-6">Events</label>
												</div>
											</div>
											
											<!-- Buttons -->
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End -->

									<!-- These filters can be optionally activated later on -->
									<!-- Panel Dropdown -->
									<!-- <div class="panel-dropdown wide">
										<a href="#">More Filters</a>
										<div class="panel-dropdown-content checkboxes">

											<div class="row">
												<div class="col-md-6">
													<input id="check-a" type="checkbox" name="check">
													<label for="check-a">Elevator in building</label>

													<input id="check-b" type="checkbox" name="check">
													<label for="check-b">Friendly workspace</label>

													<input id="check-c" type="checkbox" name="check">
													<label for="check-c">Instant Book</label>

													<input id="check-d" type="checkbox" name="check">
													<label for="check-d">Wireless Internet</label>
												</div>	

												<div class="col-md-6">
													<input id="check-e" type="checkbox" name="check" >
													<label for="check-e">Free parking on premises</label>

													<input id="check-f" type="checkbox" name="check" >
													<label for="check-f">Free parking on street</label>

													<input id="check-g" type="checkbox" name="check">
													<label for="check-g">Smoking allowed</label>	

													<input id="check-h" type="checkbox" name="check">
													<label for="check-h">Events</label>
												</div>
											</div>
											
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<div class="panel-dropdown">
										<a href="#">Distance Radius</a>
										<div class="panel-dropdown-content">
											<input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
											<div class="panel-buttons">
												<button class="panel-cancel">Disable</button>
												<button class="panel-apply">Apply</button>
											</div>
										</div>
									</div> -->
									<!-- Panel Dropdown / End -->
									
								</div>
								<!-- Filters / End -->
	
							</div>
							<!-- Row With Forms / End -->

					</div>
				</div>

			</section>
			<!-- Search / End -->


			<section class="listings-container margin-top-30">
				<!-- Sorting / Layout Switcher -->
				<div class="row fs-switcher">

					<div class="col-md-6">
						<!-- Showing Results -->
						<p id="showing-results">{{ listings.length }} Results Found </p>
					</div>

				</div>


				<!-- Listings -->
				<div class="row fs-listings">
					
					{{#listings}}
					<!-- Listing Item -->
					<div class="col-lg-12 col-md-12 listing" data-keywords="{{ keywords }}">
						<div class="listing-item-container list-layout" data-marker-id="{{@index}}">
							<a href="/listing/{{slug}}" class="listing-item">
								
								<!-- Image -->
								<div class="listing-item-image">
									<img src="{{#images.length}}{{images.0}}{{/images.length}}{{^images.length}}{{cdn}}/images/listing-item-01.jpg{{/images.length}}" alt="">
									<span class="tag">{{category}}</span>
								</div>
								
								<!-- Content -->
								<div class="listing-item-content">
									<!-- You can use this ribbon to display some info about the listing -->
									<!-- <div class="listing-badge now-open">Now Open</div> -->

									<div class="listing-item-inner">
										<h3>{{name}}</h3>
										<span>{{address}}, {{city}}</span>
										<div class="star-rating" data-rating="3.5">
											<div class="rating-counter">(12 reviews)</div>
										</div>
									</div>

									<span class="like-icon"></span>
								</div>
							</a>
						</div>
					</div>
					<!-- Listing Item / End -->
					{{/listings}}

				</div>
				<!-- Listings Container / End -->


				<!-- Pagination Container -->
				<!-- Uncomment to add pagination -->
				<!-- <div class="row fs-listings">
					<div class="col-md-12">

						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="pagination-container margin-top-15 margin-bottom-40">
									<nav class="pagination">
										<ul>
											<li><a href="#" class="current-page">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>

						

						<div class="copyrights margin-top-0">© 2017 Listeo. All Rights Reserved.</div>

					</div>
				</div> -->
				<!-- Pagination Container / End -->
			</section>

		</div>
	</div>
	<div class="fs-inner-container map-fixed">
		<!-- Map -->
		<div id="map-container">
		    <div id="map" data-map-zoom="9" data-map-scroll="true">
		        <!-- map goes here -->
		    </div>
		</div>

	</div>
</div>


</div>
<!-- Wrapper / End -->

{{>scripts}}

<!-- Maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDEunBUzWAXvpcBsbHyN96FW608iUHuV3I&language=en"></script>
<script type="text/javascript" src="js/infobox.min.js"></script>
<script type="text/javascript">md = {{{mapData}}}</script>
<script type="text/javascript" src="js/markerclusterer.js"></script>
<script type="text/javascript" src="js/maps.js"></script>
<script type="text/javascript">
	$('#search').on('input', (e) => {
		filterList(e.target.value)
	})

	function filterList(value) {
		let results = 0;
		$.each($(".listing"), function() {
			if (!($(this).data().keywords.toLowerCase().indexOf(value) >= 0)) {
				$(this).fadeOut("fast");
			} else {
				results++
				$(this).delay(200).slideDown("fast");
			}
		})
		$('#showing-results').text(results + " Results Found");
	}
</script>

</body>
</html>